/* !canviar numeros de telefon
!background img 4k height
TODO: Afegir links als h1 que vagin a violeta fils sp i english
TODO: LINKS? mirar on porten els login NAV
TODO: 

*EDU    
    TODO: mediaquieries;
    done: footer;
    done: background header no repeat cover etc;
    done: PLAN ESPAÑOL
    done: SELECT IDIOMA
    
*ALBA
    done: Arreglar red btn aling items alinear la fletxa; 
    done: Arreglar foto header
    done: position banner "flotant";
    done: botones FAQs js; 
    done: filter background header i section 1
    TODO: Comprobar paddings de p en sections i faqs;
    done: CAMBIAR SVG TO PNG HTML
    TODO: afegir alt a les img
    ?TODO: afegir imatges
    done:color a banner
    TODO: canviar telefons
    DONE: CANVIAR TIPUS LLETRA STREAMHUB
    TODO: arreglar CSS h1 a tots els llocs font-size etc
    TODO: 4K

*MARC
    todo: login

*CONJUNT
TODO: Español; label & mediaquearies;
 *Sign up 
TODO: titol padding, color i underline none
done: COLOR SIGNIN LETRA BLANCO
done: BOTON HOVER

?EXTRA
TODO: Planform section onclick activar class active

*/

@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 18px;
    height: 100%;
    --bg-color:#000000;
    --border-section: #232323;
    --font-color:#FFFFFF;
    --soft-white: #ffffffb3;
    --blue-link: #448ef4;
    /* Red buttons */
    --btn-color:#E50914;
    /* --btn-color:#c907ff; */
    --btn-hover:#C11119;
    /* --btn-hover:#db6afa; */
    /* Input */
    --bg-input: #0f0f0fa6;
    --border-input:#777676 ;
    /* FAQs */
    --faq-dark:#2D2D2D;
    --faq-hover:#414141;
    /* Gradient */
    --gradient-color-1: #890F33;
    --gradient-color-2: #101B4E;
    /* --gradient-color-2: #ff8800;
    --gradient-color-1: #a41000; */
    --gradient-color-3: #000413;
    /* SignUp */
    --bg-signUp: #ffffff;
    --bg-footer-signUp: #f3f3f3;
    --font-footer-signUp: #737373;
    
    /* Plans */
    --plan-div-border:#dfdfdf;
    --plans-border: #c7c7c7;
}


/**Body*/
body{
    font: 1rem/1.5 'Arial',Helvetica, sans-serif;
    color: var(--font-color);
    height: 100vh;
    width: 100%;
    /* max-width: 1920px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: center;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* text-transform: uppercase;
    font-weight: bold; */
}
#velo{
    position: absolute;
    width: 100vw;
    height: 700px;
    z-index: -1;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.5046393557422969) 64%, rgba(0,0,0,0.9416141456582633) 92%);
}
#background{
    position: absolute;
    width: 100vw;
    height: 700px;
    z-index: -2;
    background: url(../img/Netflix-1280x720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
select{
    background-color: var(--bg-input);
    color: var(--font-color);
    border: 1px solid var(--border-input);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

/** Header */
#index header{
    flex: 0 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    & h1{ /*?Canviar por un logo*/
        width: 100%;
        color: var(--btn-color);
        text-align: left;
    } 
}

/** Nav */
#index nav{
    align-items: center;
}
#index nav ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: start;
    align-items: center;
    justify-content: left;
    gap: 20px;
    list-style-type: none;
    & li:last-child a{
        background-color: var(--btn-color);
        color: var(--font-color);
        padding: 0.5rem;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 5px;
    }
}

/** Main */
#index main{
    display: flex;
    flex-direction: column;
    & section{
        width: 100%;
        margin: auto;
        padding: 2rem 1.4rem;
        border-bottom: 10px solid var(--border-section);
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        & h2{
            padding: 1rem 0;
            font-size: 2.2rem ;
            /* font-family: 'Yanone Kaffeesatz', sans-serif;
            letter-spacing: 0.2rem;
            font-weight: bold; */
            
        }
        & p{
            font-size: 1.1rem;
        }
        & figure{
            width: 100%;
            & img{
                width: 100%;
            }
        }
    }
}


#index main section:first-of-type, main section:nth-child(2){
    border: none;
    background-color: transparent;
    padding: 0;
}
#index main section:first-of-type{
    padding-bottom: 6rem;
    padding-top: 3rem; /**Alba*/
    width: 90%;
    gap: 0.5rem;
}
#index main .banner{
    background-image: radial-gradient(ellipse at top, #ce0a1e, #bb003d, #9d0052, #77005d, #4d175e, #351b57, #1f1b4c, #0a183f, #081534, #081129, #050b1e, #000413);
    text-align: left;
    display: grid; 
    /* margin: auto; */
    justify-content: center;  
    width: 90%;
    border-radius: 5px;
    position: relative;
    bottom: 5rem;
    line-height: 2rem;
    border: none; /**añadir*/
    border-radius: 7px;
    & h4{
        font-size: 1.2rem;
    }
    & p{
        font-size: 1rem;
    }
    & a{
        color: var(--blue-link);
        font-weight: bold;
        & i{
            padding: 0 1rem;
        }
    }
}

#index main section:nth-child(7){
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    & h3{
        position: relative;
        cursor: pointer;
        background-color: var(--faq-dark);
        padding: 1rem;
        border-bottom: 1px solid var(--bg-color) ;
    }
    & h3:hover{
        background-color: var(--faq-hover);
    }
    & h3::before{
        content: '+';
        position: absolute;
        right: 1rem;
    }
    & .contenido{
        text-align: justify;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
        background-color: var(--faq-dark);
        & p{
            font-size: 1rem;
            line-height: 1.5;
            padding-bottom: 0.5rem;
        }
    }
    & .activa .contenido{
        padding: 1em;
        height: auto; /*se puede poner auto */
    }
    
    & .activa h3::before{
        content: '-';
    }
}

#index main section:nth-child(8){
    gap: 1rem;
    & h2{
        line-height: 1.5rem;
        font-size: 1.3rem;
        font-weight: normal;
        justify-content: center;
        width: 100%;
    }
}

#index main section .correo{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    & input{
        width: 90%;
        align-self: center;
        background-color: var(--bg-input);
        border: 1px solid var(--border-input);
        color: #777676; /*No funciona*/
        padding: 1rem;
        border-radius: 5px;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
    }
}



/**footer*/
footer{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    text-align: left;
    color: var(--bg-section);
    color: var(--soft-white);
    & ul{
        justify-content: center; /*edu*/
        /* margin: 5px; edu */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 5px; */
        font-size: 0.8rem;
        & li{
            list-style: none;
            text-align: center;
            margin-bottom: 1rem;
            width: 90%;
            text-align: left;
        }
    }
    & p{
        width: 100%;
        margin: 15px auto;
        text-align: left; /**edu*/
    }
    & a{
        color: var(--soft-white);

    }
    
    & small{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}






/*btn*/
.red-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    gap: 0.5rem;
    background-color: var(--btn-color);
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem;  
}
.red-btn:hover{
    background-color: var(--btn-hover);
}

/** GENERALS: main-signUp & main-plan   */
.signUp{
    background-color: var(--bg-signUp);
    color: #333333;
}
.signUp header{ /*header singup i plan arrelgat*/
    border-bottom: 1px solid #e6e6e6;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    & h1 a{
        /* font-size: 1.1rem; */
        padding: .9rem;
        color: var(--btn-color);
        text-decoration: none;
        cursor: pointer;
    }
    & > a{
        padding:.6rem;
        font-size: .9rem;
        text-decoration: none;
        font-weight: bold;
        color: #333333;
    }
}
.signUp #main-plan, .signUp #main-signUp {
    text-align: left;
    & h2{
        font-size: 0.9rem;
        font-weight: normal;
    }
    & article{
        & h3{
            font-size: 32px;
            font-weight: lighter;
            text-align: left;
        }
        & >a{
            padding: 1rem;
            width: 100%;
            font-size: 1.5rem;
            background-color: var(--btn-color);
            color: var(--font-color);
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
        }
        & >a:hover{
            background-color: var(--btn-hover);
        }
    }
}
.signUp footer{
    background-color: var(--bg-footer-signUp);
    color: var(--font-footer-signUp);
    border-top: 1px solid rgb(230, 230, 230);
    & a{
        color: var(--font-footer-signUp);
        text-decoration: none;   
    }
}


/** MAIN: SignUp */
.signUp #main-signUp {
    padding: 6rem 3rem;
    & span{
        order: 0;
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }
    & h2{
        font-size: .9rem;
        font-weight: normal;
        padding-top: 0.5rem;
    }
    & article{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;
        & h3{
            font-size: 32px;
            font-weight: lighter;
        }
        & ul{
            & li{
                padding-bottom: 1.2rem;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                & i{
                    font-size: 1.8rem;
                }
                & p{
                    font-size: 1.1rem;
                }
            }
        }
        & a{
            order: 4;
            padding: 1rem;
            width: 100%;
            font-size: 1.5rem;
            background-color: var(--btn-color);
            color: var(--font-color);
            text-decoration: none;
            border-radius: 5px;
            text-align: center;

        }
        & a:hover{
            background-color: var(--btn-hover);
        }

    }
}
.signUp i{
    color: var(--btn-color);
}

/** MAIN: Plan */
.signUp #main-plan{
    padding: 6rem 1rem;
    & article{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        & p > a{
            color:#0077ff;
            text-decoration: none;
        }
        & p > a:hover{
            text-decoration: underline;
        }
        & section{
            border: 1px solid var(--plans-border);
            border-radius: 10px;
            /* padding: 0.rem; */
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            & header{
                margin: 0.3rem;
                padding: 0.7rem;
                display: flex;
                flex-direction: column;
                background:radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
                border-radius: 8px;

                border-radius: 8px;
                & p:first-child{
                    font-weight: bold;
                    color: var(--font-color);
                }
                & p:last-child{
                    font-weight: 0.5rem;
                    color: var(--font-color);
                }

            }
            & div{
                border-bottom: 1px solid var(--plan-div-border);
                color: var(--faq-hover);
                display: flex;
                justify-content: space-between;
                margin: 0 1rem;
                padding: 0.5rem 0;
                & p:first-child{
                    font-weight: bold;
                    color: var(--font-footer-signUp);
                    font-size: 0.8rem;
                }
                & p:last-child{
                    text-align: right;
                    font-weight: bold;
                    font-size: 0.9rem;
                }
            }
            & div:last-of-type{
                border-bottom: transparent;
            }
    
        }
        & section:hover, .active section{
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
            /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        & >p{
            font-size: 0.8rem;
            width: 90%;
            margin: auto;
            line-height: 1.5;
        }
    }
}

/** Login English */
#sesion{
    background-image: url(../img/Netflix-1280x720.jpg);
    background-image: none;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    height: 100vh;
    
    /* justify-content: center; */
    & header, footer{
        flex: 0 0 auto;
        display: flex;
    }
    & header{
        padding: 0.7rem;
        text-align: start;
        & h1 a{
            font-size: 2rem;
            padding: .9rem;
            color: var(--btn-color);
            text-decoration: none;
            cursor: pointer;
        }
    }
    & main{
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
    & section{
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        & h2{
            align-self: flex-start;
            padding-bottom: 20px;
        }
    }
    & form{
        width: 100%;
    }
    & fieldset{
        border: none;
        margin-bottom: 20px;
    }
    & input[type='email'], input[type='password'], input[type='submit']{
        width: 100%;
        height: 3rem;
        border-radius: 4px;
        background-color: var(--border-section);
        color: var(--border-input);
        border: transparent;
        margin-top: 15px;
        font-size: 0.85rem;
        text-indent: 5%;
    }
    & input[type='submit']{
        background-color: var(--btn-color);
        margin-bottom: 5px; 
        color: var(--font-color);
        margin-bottom: 25px;
    }
    & input[type='submit']:hover{
        background-color: var(--btn-hover);
    }
    & ul li{
        list-style: none;
    }
    fieldset:nth-of-type(2){
        
        & ul li{
            text-align: left;
            margin-bottom: 10px;
        }
    }
    & select{
        margin-bottom: 15px;
    }
    & footer{
        border-top: 1px solid grey;
    }
}



/*    !MEDIAQUERIES                */
@media only screen and (min-width: 375px){
    #index header{
        display: flex;
        flex-direction: row;
        & h1{
            width: 40%;
            padding-left: 10px;
        }
    }
    #index nav{
        width: 40%;
        
    }
    #index nav ul{
        width: 40%;
        padding-left: 0;
        gap: 5px;
    }
}

@media only screen and (min-width: 425px){
    #index footer p{
        text-align: left;
        padding-bottom: 10px;
        /* margin: 15px; */
    }
}

@media only screen and (min-width: 768px){
    #index main section:first-child{
        padding-top: 6rem;
    }
    #index .banner{
        display: grid;
        grid-template-columns: 96px 400px;
        align-items: center;
        column-gap: 2rem;
        & img{
            grid-row: span 3;
        }
    }
    #index nav ul{
        width: 100%;
        justify-content: end;
        padding-right: 1rem;
    }
    #index main section .correo{
        & input{
            width: 60%;
            margin-right: 0; 
        }
    }
    .red-btn{
        width: 30%;
        font-size: 1.5rem;
    }
    .signUp header{
        & h1{
            font-size: 3rem;
        }
        & > a{
            font-size: 1.2rem;
            padding: 1rem;
        }
    }
    .signUp #main-signUp{
        width: 400px;
        margin: auto;
        text-align: center;
        & article{
            text-align: left;
            & h3{
                text-align: center;
            }
        }
    }
    .signUp footer{
        padding: 1rem 2rem;
        margin: 0; /*?revisar footer principal i treure margin alla*/
        & ul{
            padding-top: 1rem;
            grid-template-columns: repeat(4, 1fr);

        }
    }

    .signUp #main-plan{
        width: 70%;
        margin: auto;
        line-height: 1.5;
        & article{
            gap:2rem;
        }
    }
    #sesion{
        height: 100vh;
        width: auto;
        background-image: url(../img/Netflix-1280x720.jpg);
        & #velo{
            height: all;
        }
        & footer{
            background-color: #000000;
        }
        & section{
            background-color: #000000ae;
            width: 60%;
            justify-content: center;
            margin: auto;
            align-items: center;
            & h2{
                padding-top: 40px;
                padding-left: 60px;
                
            }
        }
        & form{
            width: 70%;
        }
        fieldset:nth-of-type(2){
            padding-bottom: 60px;
        }
    }
}

@media only screen and (min-width: 1024px){
    #index main section:first-child{
        padding-top: 8rem;
    }
    #index main section{
        & h2{
            font-size: 2.8rem;
        }
        & p{
            font-size: 1.5rem;
        }
    }
       
    #index main section:first-child .correo{
        width: 65%;
        margin: auto;
    }
    #img-filter{
        display: flex;
        flex-direction: row;
        
    }
    #index footer ul{
        grid-template-columns: repeat(4, 1fr);
    }

    #index main section:nth-child(3), #index main section:nth-child(5){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
        & h2{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
        }
        & p{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 5;
        }
        & figure{
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 8;
        }
    }
    
    #index main section:nth-child(4), #index main section:nth-child(6){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
        & h2{
            grid-column-start: 4;
            grid-column-end: 8;
            grid-row-start: 2;
        }
        & p{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 8;
        }
        & figure{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 8;
        }
    }
    .signUp #main-plan{
      width: 55%;
    }
    #sesion{
        & section{
            width: 45%;
        }
    }
}

@media only screen and (min-width: 1440px){
    .signUp footer{
        & ul{
            width: 75%;
        }
    }

    .signUp #main-plan{
        width: 70%;
        & article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            & h3, >p{
                grid-column: span 3;
            } 
            & section{
                & div{
                    flex-direction: column;
                    padding: 0.5rem 0;
                    margin: 0 1rem;
                    & p:last-child{
                        text-align: left;
                    }
                }
            }
            & >a{
                grid-column-start: 2 ;
            }
        }  
    }
    #sesion{
        background: url(../img/Netflix-1280x720.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        & section{
            width: 30%;
        }
        & header{
            width: 80%;
            margin: auto;

        }
        & fieldset:nth-of-type(2){
            padding-top: 35px;
        }
        & #velo{
            height: 100%;
        }
    }
}

@media only screen and (min-width: 2560px){
    :root{
        font-size: 32px;
    }
}
/*? MARC */
/** Login */
.bodyLogin{
    background-color: var(--bg-color);
    width: 100vw;
}

.bodyLogin header{
    display: flex;
    width: 100%;
    /* height: 50px; */
    background: var(--bg-color);
    & nav{
        text-align: left;
        margin-left: 3%;
        margin-top: 15px;
    }
    & nav a{
        color: var(--btn-color);
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        text-decoration: none;
    }
}

.recuerda{
    display: grid;
    width: 10%;
}

.login h2{
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 2rem;
}

#login{
    /* border: 1px solid #ff0000; */
    height: 15rem;
}

.bodyLogin #correo{
    width: 80%;
    height: 3rem;
    border-radius: 4px;
    background-color: var(--border-section);
    color: var(--border-input);
    border: transparent;
    font-size: 0.9rem;
    text-indent: 5%;
}

#contrasena{
    width: 80%;
    height: 3rem;
    border-radius: 4px;
    background-color: var(--border-section);
    color: var(--border-input);
    border: transparent;
    margin-top: 15px;
    font-size: 0.85rem;
    text-indent: 5%;
}

#iniciaSesion{
    width: 80%;
    height: 3rem;
    border-radius: 4px;
    background-color: var(--btn-color);
    color: var(--font-color);
    font-weight: bold;
    border: transparent;
    margin-top: 35px;
    font-size: 0.85rem;
    text-indent: 5%;
}

.recor{
    display: flex;
    margin-top: 15px;
}

.uno{
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin-left: 25px;
    & label{
        color: var(--border-input);
    }
}

.dos{
    flex-direction: column;
    text-align: right;
    width: 50%;
    margin-right: 20px;
    & a{
        color: var(--border-input);
        text-decoration: none;
    }
}

#suscribete{
    color: var(--border-input);
    text-align: left;
    width: 90%;
    margin-left: 25px;
    margin-right: auto;
    & p{
        font-size: 0.9rem;
    }
    & a{
        color: var(--font-color);
        text-decoration: none;
    }
}

#recaptcha{
    color: var(--border-input);
    text-align: left;
    margin-top: 15px;
    width: 90%;
    margin-left: 27px;
    margin-right: auto;
    & p{
        font-size: 0.9rem;
    }
    & a{
        text-decoration: none;
    }
}

.footerLogin{
    padding-left: 0px;
}

.footerLog{
    border-top: 1px solid var(--border-input);
    text-align: left;;
    margin-top: 90px;
    & p{
        margin-top: 20px;
        color: var(--border-input);
        font-size: 0.9rem;
        margin-left: 15px;
    }
    & a{
        text-decoration: none;
        color: var(--border-input);
    }
}

.footerLog label{
    margin-left: 25px;
}

.columns{
    display: grid;
    align-content: center;
    grid-template-columns: 150px 150px;
    height: 250px;
    margin-left: 20px;
    & li a{
        text-decoration: none;
        color: var(--border-input);
    }
    & li{
        text-align: left;
        font-size: 0.9rem;
    }
}

/**Marc Mediaqueries */
@media only screen and (min-width: 768px){

    .bodyLogin{
        background-image: url(../img/Netflix-1280x720.jpg);
        background-size: 290%;
        background-repeat: no-repeat;
        height: 1000px;
        width: 100%;
    }

    #headerLogin{
        background-color: rgba(0,0,0,0.8);;
        height: 70px;
        margin-bottom: 60px;
        & nav a{
            font-size: 3rem;
        }
    }

    .login{
        width: 60%;
        height: 600px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 165px;
        background-color: rgba(0,0,0,0.8);
        & h2{
            margin-left: 85px;
            padding-top: 50px;
        }
    }

    .main-login{
        margin: 0;
    }

    #login{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        & input{
            font-size: 1rem;
        }
        & #correo{
            font-size: 1rem;
        }
    }
    
    .masInfo{
        margin-top: 50px;
        margin-bottom: 250px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .recor{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .footerLog{
        border: transparent;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
    }
    
    .footerLog p{
        margin-top: 15px;
    }

    .footerLogin{
        background-color: transparent;
        width: 100%;
    }
    
    .columns{
        display: grid;
        height: 120px;
        /* background-color: #0048ff; */
        grid-template-columns: 180px 180px 180px 180px;
        & li a{
            font-size: 0.8rem;
        }
    }

    #idioma{
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1024px){

    .main-login{
        width: 100%;
        & .login{
            width: 450px;
        }
    }
}

@media only screen and (min-width: 1440px){
    .bodyLogin{
        font: 16px/1.5rem;
        color: var(--font-color);
        /* width: 100%; */
        /* max-width: 1920px; */
        /* margin: auto; */
        /* display: flex; */
        /* flex-direction: column; */
        /* background: url(../img/Netflix-1280x720.jpg);
        background-size: cover; */
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    .bodyLogin main section .iniciar{
        margin-left: auto;
        margin-right: auto;
        /* width: 25%; */
        /* height: 600px; */
        /* border: 2px solid #fff; */
        /* background-color: rgba(0,0,0,0.8); */
    }
    
    .login h2{
        font-size: 2.2rem;
    }
    
    .login{
        /* height: 214px; */
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7rem;
        & a{
            text-decoration: none;
            color: var(--border-input);
            margin-left: 2rem;
        }
    }
    
    .recordar{
        color: var(--border-input);
        font-size: 0.85rem;
    }
    
    #recuerda{
        width: 15px;
        height: 15px;
    }
    
    #login fieldset{
        /* height: 450px; */
        border-color: transparent;
    }
    
    #correo, #contrasena{
        /* width: 314px; */
        /* height: 50px; */
        /* margin-top: 0.8rem; */
        background-color: var(--faq-dark);
        border-color: transparent;
        border-radius: 5px;
        font-size: 1rem;
    }
    
    #iniciaSesion{
        /* width: 314px; */
        height: 50px;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        background-color: var(--btn-color);  
        border-color: transparent;
        border-radius: 5px;
        color: var(--font-color);
        font-size: 1rem;
        font-weight: bold;
    }
    
    #suscribete, #recaptcha{
        margin-top: 1rem;
    }
    
    .masInfo{
        /* height: 200px; */
        /* width: 315px; */
        margin-left: auto;
        margin-right: auto;
    }

    #suscribete p{
        font-size:0.9rem;
        color: var(--border-input);
        text-align: left;
    }
    
    #suscribete a{
        text-decoration: none;
        color: var(--font-color);
    }
    
    #recaptcha p{
        font-size: 0.85rem;
        text-align: left;
        color: var(--border-input);
    }
    
    #recaptcha a{
        text-decoration: none;
        color: #0048ff;
    }
    /* Footer **/
    
    .footerLogin{
        /* display: block; */
        /* background-color: rgba(0,0,0,0.8); */
        & p{
            text-align: left;
            color: var(--border-input);
        }
        & a{
            color: var(--border-input);
            text-decoration: none;
        }
    }
    
    .footerLog{
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }
    
    .columns{
        display: grid;
        align-content: center;
        grid-template-columns: 300px 300px 300px 300px;
        height: 250px;
        & li{
            width: 100%;
            text-align: left;
        }
    }
}