/* 

*EDU    
    TODO: mediaquieries;
    TODO: footer;
    TODO: background header;
    TODO: PLAN ESPAÑOL
    TODO: SELECT IDIOMA

    
*ALBA
    TODO: Arreglar nav; 
    done: position banner "flotant";
    done: botones FAQs js; 
    done: filter background header i section 1
    

*MARC
    TODO: Comprobar paddings de p en sections i faqs;
    todo: login

*CONJUNT
TODO: Español; label & mediaquearies;

*/

@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    height: 100%;
    --bg-color:#000000;
    --border-section: #232323;
    --font-color:#FFFFFF;
    --soft-white: rgba(255,255,255,0.7);
    /* Red buttons */
    --btn-color:#E50914;
    /* --btn-color:#c907ff; */
    --btn-hover:#C11119;
    /* --btn-hover:#db6afa; */
    /* Input */
    --bg-input: #0f0f0fa6;
    --border-input:#777676 ;
    /* FAQs */
    --faq-dark:#2D2D2D;
    --faq-hover:#414141;
    /* Gradient */
    /* --gradient-color-1: #890F33; */
    /* --gradient-color-2: #101B4E; */
    --gradient-color-2: #ff8800;
    --gradient-color-1: #a41000;
    --gradient-color-3: #000413;
    /* SignUp */
    --bg-footer-signUp: #f3f3f3;
    --font-footer-signUp: #737373;
    --plan-div-border:#c7c7c7;
}


/**Body*/
body{
    font: 16px/1.5 'Arial',Helvetica, sans-serif;
    color: var(--font-color);
    height: 100vh;
    width: 100%;
    /* max-width: 1920px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    text-align: center;
}

#velo{
    position: absolute;
    width: 100vw;
    height: 700px;
    z-index: -1;
    background: rgb(2,0,36); 
    background: radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%); 
}
#background{
    position: absolute;
    width: 100vw;
    height: 700px;
    z-index: -2;
    background: url(../img/Netflix-1280x720.jpg);
}
select{
    background-color: var(--bg-input);
    color: var(--font-color);
    border: 1px solid var(--border-input);
    padding: 0.5rem;
    border-radius: 5px;
}

/** Header */
#index header{
    flex: 0 0 auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    & h1{ /*?Canviar por un logo*/
        width: 100%;
        color: var(--btn-color);
        text-align: left;
    } 
}

/** Nav */
#index nav{
    align-items: center;
}
#index nav ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-content: start;
    align-items: center;
    justify-content: left;
    gap: 20px;
    list-style-type: none;
    & li:last-child a{
        background-color: var(--btn-color);
        color: var(--font-color);
        padding: 0.5rem;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 5px;
    }
}

/** Main */
#index main{
    display: flex;
    flex-direction: column;
    & section{
        width: 100%;
        margin: auto;
        padding: 2rem 1.4rem;
        border-bottom: 10px solid var(--border-section);
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color);
        & h2{
            padding: 1rem 0;
            font-size: 2.2rem ;
        }
        & p{
            font-size: 1.1rem;
        }
        & figure{
            width: 100%;
            & img{
                width: 100%;
            }
        }
    }
}


#index main section:first-of-type, main section:nth-child(2){
    border: none;
    background-color: transparent;
    padding: 0;
}
#index main section:first-of-type{
    padding-bottom: 6rem;
    padding-top: 0; /**Alba*/
    width: 90%;
    gap: 0.5rem;
    /* background: url(../img/Netflix-1280x720.jpg);
    background-size: cover;
    position: relative; */
}
#index main .banner{
    background-image: radial-gradient(ellipse at top, #ce0a1e, #bb003d, #9d0052, #77005d, #4d175e, #351b57, #1f1b4c, #0a183f, #081534, #081129, #050b1e, #000413);
    text-align: left;
    display: grid; 
    /* margin: auto; */
    justify-content: center;  
    width: 90%;
    border-radius: 5px;
    position: relative;
    bottom: 5rem;
    line-height: 2rem;
    border: none; /**añadir*/
}

#index main section:nth-child(7){
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    & h3{
        position: relative;
        cursor: pointer;
        background-color: var(--faq-dark);
        padding: 1rem;
        border-bottom: 1px solid var(--bg-color) ;
    }
    & h3:hover{
        background-color: var(--faq-hover);
    }
    & h3::before{
        content: '+';
        position: absolute;
        right: 1rem;
    }
    & .contenido{
        text-align: justify;
        height: 0;
        overflow: hidden;
        transition: 0.7s;
        background-color: var(--faq-dark);
        & p{
            font-size: 1rem;
            line-height: 1.5;
            padding-bottom: 0.5rem;
        }
    }
    & .activa .contenido{
        padding: 1em;
        height: auto; /*se puede poner auto */
    }
    
    & .activa h3::before{
        content: '-';
    }
}

#index main section:nth-child(8){
    gap: 1rem;
    & h2{
        line-height: 1.5rem;
        font-size: 1.3rem;
        font-weight: normal;
        justify-content: center;
        width: 100%;
    }
}

#index main section .correo{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    & input{
        width: 90%;
        align-self: center;
        background-color: var(--bg-input);
        border: 1px solid var(--border-input);
        color: #777676; /*No funciona*/
        padding: 1rem;
        border-radius: 5px;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
    }
}



/**footer*/
footer{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    text-align: left;
    color: var(--bg-section);
    color: var(--soft-white);
    & ul{
        justify-content: center; /*edu*/
        /* margin: 5px; edu */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 5px; */
        font-size: 14px;
        & li{
            list-style: none;
            text-align: center;
            margin-bottom: 1rem;
            width: 90%;
            text-align: left;
        }
    }
    & p{
        width: 100%;
        margin: 15px auto;
        text-align: left; /**edu*/
    }
    & a{
        color: var(--soft-white);

    }
    /* & select{

    } */
    & small{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}






/*btn*/
.red-btn{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    gap: 0.5rem;
    background-color: var(--btn-color);
    border-radius: 5px;
    font-weight: bold;
    padding: 0.5rem;  
}
.red-btn:hover{
    background-color: var(--btn-hover);
}

/** GENERALS: main-signUp & main-plan   */
.signUp{
    background-color: #fff;
    color: #333333;
}
.signUp header{ /*header singup i plan arrelgat*/
    border-bottom: 1px solid #e6e6e6;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    & h1{
        font-size: 1.1rem;
        padding: .9rem;
        color: var(--btn-color);
    }
    & a{
        padding:.6rem;
        font-size: .9rem;
        text-decoration: none;
        font-weight: bold;
        color: #333333;
    }
}
.signUp #main-plan, .signUp #main-signUp {
    text-align: left;
    & h2{
        font-size: 0.9rem;
        font-weight: normal;
    }
    & article{
        & h3{
            font-size: 32px;
            font-weight: lighter;
            text-align: left;
        }
        & >a{
            padding: 1rem;
            width: 100%;
            font-size: 1.5rem;
            background-color: var(--btn-color);
            color: var(--font-color);
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
        }
        & >a:hover{
            background-color: var(--btn-hover);
        }
    }
}
.signUp footer{
    background-color: var(--bg-footer-signUp);
    color: var(--font-footer-signUp);
    border-top: 1px solid rgb(230, 230, 230);
    & a{
        color: var(--font-footer-signUp);
        text-decoration: none;   
    }
}


/** MAIN: SignUp */
.signUp #main-signUp {
    padding: 6rem 3rem;
    & span{
        order: 0;
        font-size: 3.2rem;
        padding-bottom: 1rem;
    }
    & h2{
        font-size: .9rem;
        font-weight: normal;
        padding-top: 0.5rem;
    }
    & article{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 1rem;
        & h3{
            /* order: 1; */
            font-size: 32px;
            font-weight: lighter;
        }
        & ul{
            /* order: 2; */
            & li{
                padding-bottom: 1.2rem;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                & i{
                    font-size: 1.8rem;
                }
                & p{
                    font-size: 1.1rem;
                }
            }
        }
        & a{
            order: 4;
            padding: 1rem;
            width: 100%;
            font-size: 1.5rem;
            background-color: var(--btn-color);
            color: var(--font-color);
            text-decoration: none;
            border-radius: 5px;
            text-align: center;

        }
        & a:hover{
            background-color: var(--btn-hover);
        }

    }
}
.signUp i{
    color: var(--btn-color);
}

/** MAIN: Plan */
.signUp #main-plan{
    padding: 6rem 1rem;
    & article{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        & p > a{
            color:#0077ff;
            text-decoration: none;
        }
        & p > a:hover{
            text-decoration: underline;
        }
        & section{
            border: 1px solid var(--font-footer-signUp);
            border-radius: 10px;
            padding: 0.5rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            & header{
                display: flex;
                flex-direction: column;
                background: radial-gradient(circle, rgba(255,106,0,1) 0%, rgba(255,113,0,1) 22%, rgba(255,136,0,1) 69%, rgba(253,200,54,1) 100%);                padding: 1rem;
                border-radius: 8px;
                & p:first-child{
                    font-weight: bold;
                    color: var(--font-color);
                }
                & p:last-child{
                    font-weight: 0.5rem;
                    color: wheat;
                }

            }
            & div{
                border-bottom: 1px solid var(--plan-div-border);
                color: var(--faq-hover);
                display: flex;
                justify-content: space-between;
                padding-bottom: 0.2rem;
                & p:first-child{
                    font-weight: bold;
                    color: var(--font-footer-signUp);
                    font-size: 0.8rem;
                }
                & p:last-child{
                    text-align: right;
                    font-weight: bold;
                    font-size: 0.9rem;
                }
            }
            & div:last-of-type{
                border-bottom: transparent;
            }
    
        }
        & section:hover, .active section{
            /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
            /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        & >p{
            font-size: 0.8rem;
            width: 90%;
            margin: auto;
            line-height: 1.5;
        }
    }
}

/*    !MEDIAQUERIES                */
@media only screen and (min-width: 375px){
    #index header{
        display: flex;
        flex-direction: row;
        & h1{
            width: 40%;
            padding-left: 10px;
        }
    }
    #index nav{
        width: 40%;
        
    }
    #index nav ul{
        width: 40%;
        padding-left: 0;
        gap: 5px;
    }
}

@media only screen and (min-width: 425px){
    #index footer p{
        text-align: left;
        padding-bottom: 10px;
        /* margin: 15px; */
    }
}

@media only screen and (min-width: 768px){
    #index nav ul{
        width: 100%;
        justify-content: end;
        padding-right: 1rem;
    }
    #index main section .correo{
        & input{
            width: 60%;
            margin-right: 0; 
        }
    }
    .red-btn{
        width: 30%;
        font-size: 1.5rem;
    }
    .signUp header{
        & h1{
            font-size: 3rem;
        }
        & a{
            font-size: 1.2rem;
            padding: 1rem;
        }
    }
    .signUp #main-signUp {
        width: 400px;
        margin: auto;
    }
    .signUp footer{
        padding: 1rem 2rem;
        margin: 0; /*?revisar footer principal i treure margin alla*/
        & ul{
            padding-top: 1rem;
            grid-template-columns: repeat(4, 1fr);

        }
    }

    .signUp #main-plan{
        width: 70%;
        margin: auto;
        line-height: 1.5;
        & article{
            gap:2rem;
        }
    }
}

@media only screen and (min-width: 1024px){
    #img-filter{
        display: flex;
        flex-direction: row;
        
    }
    #index footer ul{
        grid-template-columns: repeat(4, 1fr);
    }

    #index main section:nth-child(3), #index main section:nth-child(5){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
        & h2{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
        }
        & p{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 5;
        }
        & figure{
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 1;
            grid-row-end: 8;
        }
    }
    
    #index main section:nth-child(4), #index main section:nth-child(6){
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(4, 1fr);
        & h2{
            grid-column-start: 4;
            grid-column-end: 8;
            grid-row-start: 2;
        }
        & p{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 8;
        }
        & figure{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 8;
        }
    }
    .signUp #main-plan{
      width: 55%;
    }
}

@media only screen and (min-width: 1440px){
    .signUp footer{
        & ul{
            width: 75%;
        }
    }

    .signUp #main-plan{
        width: 70%;
        & article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            & h3, >p{
                grid-column: span 3;
            } 
            & section{
                & div{
                    flex-direction: column;
                    padding: 0.5rem 0;
                    margin: 0 1rem;
                    & p:last-child{
                        text-align: left;
                    }
                }
            }
            & >a{
                grid-column-start: 2 ;
            }
        }  
    }
}
